@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ChartViewPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master.cshtml";
}


<div class="container">
    <canvas id="myChart" style="padding:12rem;">
    </canvas>
     <div id="totalNum"></div>
   
</div>


 <!-- Render parsed JSON data here -->
    <div style="margin-top:10px;">
        @* <pre id="jsonData"></pre> *@
        <ul id="jsonData"></ul>
    </div>

    @* Get user upload, convert to json, add to session storage. Get the array to use as chart data.  *@
    <script src="/scripts/uploadHandler.js"></script>
    @* Chart js script  *@
    <script src="/scripts/chart.js"></script>
    <script src="/scripts/chartRender.js"></script>

    