@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h1>@Model.PageHeading</h1>

<form>
	<label for="csvUpload">Upload csv file</label>
	<input type="file"
		id="csvUpload" name="csvUpload"
		accept="csv">
	<button id="csvUploadBtn">Upload</button>
</form>

<script>
	
</script>