@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
	Layout = "Master.cshtml";
}

<h1>@Model.PageHeading</h1>

        <h4>Upload And Convert Excel or CSV File into JSON in Javascript</h4>
       
           
                <!-- Input type file to upload excel file -->
                <input type="file" id="fileUpload" accept=".xls,.xlsx,.csv" /><br />
                <a id="chartViewLink" href=""><button type="button" id="uploadBtn" disabled="true">Convert</button></a>

                @* <!-- Render parsed JSON data here -->
                <div style="margin-top:10px;">
                    <pre id="jsonData"></pre>
                </div> *@
       
       
   
@* Script to convert csv or xls file to json  *@
<script type="text/javascript" src="/scripts/xlsx.js"></script>


<script>
	@* listen for file upload, convert to json then save to session storage  *@
        var selectedFile;
        document
          .getElementById("fileUpload")
          .addEventListener("change", function(event) {
            selectedFile = event.target.files[0];
			@* Get the a tag around the button element and set the href to the chart-view-page , and enable the button element *@
			const a = document.getElementById("chartViewLink");
			a.href = "/chart-view-page/";
			const btn = document.getElementById("uploadBtn");
			btn.disabled = false;

          });
        document
          .getElementById("uploadBtn")
          .addEventListener("click", function() {
            if (selectedFile) {
              var fileReader = new FileReader();
              fileReader.onload = function(event) {
                var data = event.target.result;
    
                var workbook = XLSX.read(data, {
                  type: "binary"
                });
                workbook.SheetNames.forEach(sheet => {
                  let rowObject = XLSX.utils.sheet_to_row_object_array(
                    workbook.Sheets[sheet]
                  );
                  let jsonObject = JSON.stringify(rowObject);
                  @* document.getElementById("jsonData").innerHTML = jsonObject; *@
                  console.log(jsonObject);
				  sessionStorage.setItem('transactions', jsonObject);
                });
              };
              fileReader.readAsBinaryString(selectedFile);
            }
          });
      </script>

